@page "/"
@inherits EmployeeList_Parent_Component_Base

<h3>Employee List</h3>

<h3>Selected Employees Count - @SelectedEmployeeCount</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>
<hr />

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var emp in Employees)
        {
           <DisplayEmployee_Child_Component ChildEmployee="emp" ChildShowFooter="ShowFooter" onEmployeeSelection="EmployeeSelectionChanged">

           </DisplayEmployee_Child_Component>
        }
    </div>
}